body {
    background: #aacac2;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 40%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 60px;
  }
  
  h2, h3 {
    text-align: center;
    color: #3ba570;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input {
    width: 30%;
    padding: 8px;
    margin: 40px 0;
  }
  
  button {
    width: 50%;
    padding: 10px;
    background: #2c7a7b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 60px;
  }
  
  button:hover {
    background: #062122;
  }
  
  table {
    width: 70%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 30px solid #ffffff;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background: #2c7a7b;
    color: white;
  }
  
  #msg {
    text-align: center;
    font-weight: bold;
    color: rgb(149, 155, 127);
  }
  